<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-sky-100">
     <div class="p-4 md:p-8 lg:p-16">
    <div class="max-w-md mx-auto mt-16 bg-white shadow p-8 rounded">
        <h2 class="text-2xl font-bold text-green-600 mb-4">Iniciar Sesión</h2>
        {% if error %}<p class="text-red-500">{{ error }}</p>{% endif %}
       <form method="POST" action="{{ url_for('login') }}" autocomplete="on">
    <input type="text" name="username" placeholder="Usuario" autocomplete="username" required>
    <input type="password" name="password" placeholder="Contraseña" autocomplete="current-password" required>
    <button type="submit">Ingresar</button>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</form>
            <select name="rol" class="w-full p-2 border mb-4" required>
                <option value="">Seleccionar rol</option>
                <option value="pastor">Pastores</option>
                <option value="admin">Administrador</option>
                <option value="usuario">Usuario</option>
            </select>

            <button class="w-full bg-green-500 text-white py-2 rounded">Ingresar</button>
        </form>
        <div class="text-center mt-4">
            <a href="{{ url_for('invitado') }}" class="text-blue-600">Entrar como invitado</a>
        </div>
    </div>
    </div>
</body>
</html>
